<div align="center" style="font-size:18px;">
	<%= link_to 'Add', '/question/viewadd' %> | <%= link_to 'Un-Matched', '/question/viewunmatched' %> | <%= link_to 'Not-Machable', '/question/viewnotmachable' %>
</div>
<h2>List all Questions</h2>

<ul>
<% @questions.each do |question| %>
  <li><%= question.qtext %></li>
<% end %>
</ul>